.example-spacer {
    flex: 1 1 auto;
  }
  /* mat-drawer{
    width:260px;
    background: #0f172a;
  }
  mat-drawer-container{
    height: 100%;
  }
  mat-drawer-content{
    width: 100vw;
    height: 100vh;
  } */