<div class="contact">
    <div class="building_img">
        <img src="../../images/footer-bg.webp" alt="building_image" />
    </div>
    <div class="contact_footer">
        <div class="footer">
            <div class="info footer_content">
                <p>
                    Best Software Development Company To Architect The Dream For Next Generation.
                </p>
                <div class="social_media">
                    <a href="#">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="#">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="address footer_content">
                <h3>Address</h3>
                <hr>
                <p>
                    85 Ponniamman Nagar, Ayanambakam, Chennai, Tamil Nadu 600095
                </p>
                <p>Email:</p>
                <p>
                    <i class='fas fa-envelope'>maheswaran.selvakumar@chainsys.com.com</i>
                </p>
            </div>
            <div class="phone footer_content">
                <h3>Phone</h3>
                <hr>
                <p>
                    <i class='fas fa-phone-alt'>+91-9788142553</i>
                </p>
                <p>
                    <i class='fas fa-phone-alt'>+91-9952470741</i>
                </p>
            </div>
        </div>
    </div>
</div>