<div class="about-product">
    <div class="about">
        <div class="about-heading">
            <h1>
                Be Tactical, Chose Automation, Ensure Profitability
            </h1>
        </div>
        <div class="about-paragraph">
            <p>
                This fleet management system provides an ordained solution for the problems, generally a transport
                manager
                faced. Have an attentive tour from top to bottom &amp; get a complete idea about a vehicle management
                system.
            </p>
        </div>
    </div>
    <div class="about-all-card">
        <div class="about-card ">
            <img src="../../images/manage-vehicle-from-home (1).png" alt="Manage your vehicle from home"
                data-pagespeed-url-hash="4032969889" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h3 class="feature2-title">
                Manage your vehicle from home
            </h3>
            <p>
                The VMS software helps you to manage vehicles, store all important data about vehicle type, fitness,
                routes,
                stations, driver-helper-officer details, vehicle base performance etc.
            </p>
        </div>
        <div class="about-card ">
            <img src="../../images/inventory-expense.png" alt="Manage inventory &amp; expenses"
                data-pagespeed-url-hash="2845858233" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h3 class="feature2-title">
                Manage inventory &amp; expenses under control
            </h3>
            <p>
                Get all inventory records such as stock in hand, vehicle wise parts use report etc. We have designed an
                expense management system to take your inventory &amp; expenses under control.
            </p>
        </div>
        <div class="about-card ">
            <img src="../../images/ensuring-profitability.png" alt="Ensure the best profitability"
                data-pagespeed-url-hash="3828134984" onload="pagespeed.CriticalImages.checkImageForCriticality(this);">
            <h3 class="feature2-title">
                Ensure the best profitability
            </h3>
            <p>
                Use automation in every section of your business. Such as asset tracking, manage daily activities, get
                automatic calculation of finance .That’s why to ensure the best profitability you should have an vehicle
                management system.
            </p>
        </div>
    </div>
</div>