a{
    color: aliceblue;
    cursor: pointer;
    font-weight: bold;
    margin-left: 30px;
    text-decoration: none;
}
li{
    list-style: none;

}
.dropdown{
    position: relative;
}
.dropdown button{
    border-style: none;
    color:white;
    font-weight: bold;
    font-size: 17px;
    margin-left: 30px;
}
.dropdown-item{
    border-bottom: 1px solid white;
    margin-left: 3px;
}
.text-light{
    margin-left: -250px;
}

/* mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 100;
    background: #f7f7f7;
}
ul li{
    list-style: none;
}
button{
    border: 0;
    outline: none;
    background: transparent;
}
.user{
    font-size: 14px;
}
.user-image{
    border-radius: 50%;
    width: 50px;
    height: 50px;
}
.user-image-icon{
    height: 18px;
    font-size: 16px;
}
.mat-menu-content{
    width: 160px;
} */