<!-- <nav class="navbar navbar-dark bg-primary" *ngIf="api.bool"> -->
<nav class="navbar navbar-dark bg-primary">
    <div class="container-fluid">
        <i style="font-size: 40px;" class="fas fa-shipping-fast">
        </i>
        <h1 class="text-light">Vehicle Management</h1>
        <div class="d-flex">
            <li><a routerLink="home">Home</a></li>
            <li><a routerLink="aboutus">About Us</a></li>
            <li><a routerLink="contactus">Contact Us</a></li>
            <li><a routerLink="login" routerLinkActive="text-danger">Log In</a></li>
        </div>
    </div>
</nav>
<!-- <router-outlet></router-outlet> -->