<div class="container">
    <div class="heading">
        <h1>
            Vehicle Management System (VMS): A One Stop Vehicle Management Solution
        </h1>
        <p class="vms_para">Vehicle Management System Software (VMS) is the most modern system to manage Your
            vehicles.This software will
            manage every single piece of data of your all vehicles and employees.
        </p>
    </div>
    <div class="banner_img_part">
        <img src="../../images/vehicle-management-system.png" alt="Vehicle Management System">
    </div>
</div>